body{
    font-family: 'Montserrat', sans-serif;
}
/*  ----------------    INICIO DO CABEÇALHO DA PAGINA  ----------------    */
header{
    background: #202020;
    padding: 10px 0;
}
.cabecalho{
    width: 940px;
    height: 230px;
    margin: 0 auto;
    position: relative;
}
.cabecalho img{
    height: 230px;
}
nav{
    position: absolute;
    top: 115px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a:hover{
    text-decoration: underline;
    color: #c6c6c6;
    font-size: 25px;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
}
/*  ----------------    FIM DO CABEÇALHO DA PAGINA  ----------------    */

/*  ----------------    INICIO DO CONTEÚDO DA PAGINA PRINCIPAL  ----------------*/   
.espaco-img{
    width: 1080px;
    margin: 10px auto 30px auto;
}
.espaco-img img{
    width: 100%;
    height: 500px;
}
.apresentacao{
    width: 940px;
    margin: 10px auto;
    padding: 20px 0 20px 0;
    text-align: justify;
    line-height: 1.5;
}
.apresentacao p{
    margin: 0 0 1.5em;
}
.titulo-apresentacao{
    font-size: 2em;
    margin: 1.5em 0 1.5em 0;
    font-weight: bold;
}
.titulo-conteudo{
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
    font-weight: bold;
    padding: 10px 0;
    opacity: 0.7;
    text-decoration: underline;
}
.mapa{
    background: linear-gradient(#ffffff, #c6c6c6);
    padding: 0 0 20px 0;
}
.mapa-conteudo{
    width: 940px;
    margin: 20px auto 0 auto;
    padding: 0 0 20px 0;
}
.video{
    background: linear-gradient(#c6c6c6, #383838);
    padding: 0 0 20px 0;
}
.video-conteudo{
    width: 940px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}
/*  ----------------    FIM DO CONTEÚDO DA PAGINA  ----------------*/    

/*  ----------------    INCIO DA PAGINA DE SERVIÇOS  ----------------*/
.servicos{
    margin: 20px auto;
    width: 1080px;
}
.desc-servicos{
    opacity: 0.6;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}
.caixa-esquerda, .caixa-direita{
    margin: 20px auto;
    position: relative;
    height: 400px;
}
.caixa-esquerda p{
    line-height: 1.5;
    width: 500px;
    text-align: justify;
    position: absolute;
    right: 50px;
    top: 50px;
}
.caixa-direita p{
    line-height: 1.5;
    width: 500px;
    text-align: justify;
    margin: 30px 10px;
}
.caixa-direita img{
    position: absolute;
    right: 50px;
    top: 50px;
}
ul img{
    width: 500px;
    height: 300px;
    padding: 10px;
}
/*  ----------------    FIM DA PAGINA DE SERVIÇOS  ----------------*/

/*  ----------------    INICIO DA PAGINA SOBRE  ----------------*/
.sobre{
    margin: 20px auto;
    width: 940px;
    padding: 10px;
}
h4{
    font-size: 1.3em;
    text-align: center;
    margin: 40px 0 30px 0;
    padding: 10px;
}
p, li{
    line-height: 1.5;
}
.titulo-servicos{
    font-size: 1.5em;
    line-height: 1.5;
    opacity: 0.6;
    text-decoration: underline;
    margin: 15px 0;
}
.sobre ul{
    list-style-type: disc;
    margin-bottom: 40px;
}
/*  ----------------    FIM DA PAGINA SOBRE  ----------------*/

/* ---------------  INICIO DA PAGINA CONTATO  -----------------*/
.titulo-contato{
    font-size: 1.5em;
    margin: 20px auto 10px auto;
    width: 1200px;
    font-weight: bold;
    opacity: 0.6;
}
.formulario{
    width: 940px;
    margin: 20px auto;
}
form{
    padding: 10px;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.input-padrao{
    border-radius: 5px;
    height: 25px;
    width: 300px;
    margin-bottom: 10px;
}
textarea{
    border-radius: 5px;
    margin-bottom: 15px;
}
.contato{
    margin: 20px 0 15px 0;
}
.checkbox{
    margin: 15px 0;
}
.submit{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    background-color: orange;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
}
.submit:hover{
    background-color: darkorange;
    color: #000000;
    transition-delay: 0.5s;
}
/* ---------------  FIM DA PAGINA CONTATO  -----------------*/

/*  ----------------    INICIO DO RODAPÉ DA PAGINA  ----------------*/
footer{
    background: linear-gradient(#383838, #202020);
    color: #ffffff;
    height: 85px;
    text-align: center;
    line-height: 80px;
}
.copyright{
    margin-top: 30px;
    display: inline-block;
}
/*  ----------------    FIM DO RODAPÉ DA PAGINA  ----------------*/